src/sdk/node-red/examples/flows.json
[{"id":"3d4b43ee.db5b3c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ab636aa0.860be8","type":"vapp-feat","z":"3d4b43ee.db5b3c","VAPPhost":"127.0.0.1","VAPPDiscoveryEndpoint":"8080","VAPPBrokerEndpoint":"1883","VAPPfeatures":"","x":460,"y":180,"wires":[[]]},{"id":"43c0d476.5e24fc","type":"inject","z":"3d4b43ee.db5b3c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":180,"wires":[["ab636aa0.860be8"]]},{"id":"564fb23d.72586c","type":"vapp-feat","z":"3d4b43ee.db5b3c","VAPPhost":"127.0.0.1","VAPPDiscoveryEndpoint":"8080","VAPPBrokerEndpoint":"1883","VAPPfeatures":"default#Node-RED89a7e166-4600-46d9-9460-85b2dee4150d.dp04","x":120,"y":420,"wires":[["614f02fe.e4b44c"]]},{"id":"614f02fe.e4b44c","type":"debug","z":"3d4b43ee.db5b3c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":420,"wires":[]}]